$color-primary-Magenta:hsl(300, 43%, 22%);
$color-primary-Pink: hsl(333, 80%, 67%);
$color-neutral-dark-Magneta: hsl(303, 10%, 53%);
$color-neutral-light-Magneta: hsl(300, 24%, 96%);
$color-neutral-white:hsl(0, 0%, 100%);


$font-spartan:'Spartan', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-regular: 0.9372rem;
$font-regular-DL: 1.2rem;
$font-tablet-h1: 2.5rem;
$font-desktop-h1:3rem;
$font-tablet-hero-p: 1rem;


$line-height: 1.7rem;
$line-height-DL: 2rem;