$color-primary-Magenta:hsl(300, 43%, 22%);
$color-primary-Pink: hsl(333, 80%, 67%);
$color-neutral-dark-Magneta: hsl(303, 10%, 53%);
$color-neutral-light-Magneta: hsl(300, 24%, 96%);
$color-neutral-white:hsl(0, 0%, 100%);


$font-spartan:'Spartan', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

body{
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    
}




