html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  height: 100vh;
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  body {
    background-position: top 900px, bottom right;
    background-size: 1000px, 2500px;
  }
}

.container {
  max-width: 1000px;
  margin: 100px auto;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container {
    max-width: 1500px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .container__hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.container__hero .hero1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 40%;
          flex: 1 40%;
}

@media screen and (max-width: 768px) {
  .container__hero .hero1 {
    margin: auto;
  }
}

.container__hero .hero1 h1 {
  color: #502050;
  font-weight: 700;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .container__hero .hero1 h1 {
    font-size: 2.5rem;
  }
}

.container__hero .hero1 p {
  margin-top: -15px;
  color: #937b92;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.7rem;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container__hero .hero1 p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container__hero .hero1 p {
    font-size: 1rem;
  }
}

.container__hero .hero2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 60%;
          flex: 1 60%;
  margin: 50px 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 556px) {
  .container__hero .hero2 {
    margin: 50px auto 0 auto;
  }
}

.container__hero .hero2 .rating {
  margin: 0 50px 20px 50px;
  border-radius: 10px;
  padding: 15px;
  background: #f7f2f7;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #502050;
}

@media screen and (max-width: 556px) {
  .container__hero .hero2 .rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 500px;
    margin: 0 auto 20px auto;
  }
}

.container__hero .hero2 .rating .stars {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__hero .hero2 .rating h3 {
  font-size: 0.9372rem;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container__hero .hero2 .rating h3 {
    font-size: 1.2rem;
  }
}

.container__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__cards .card {
  width: 330px;
  min-height: 200px;
  background: #502050;
  padding: 30px;
  border-radius: 10px;
  color: #f7f2f7;
  font-size: 0.8rem;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container__cards .card {
    min-width: 330px;
    padding: 50px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .container__cards .card {
    min-width: 500px;
  }
}

@media screen and (max-width: 556px) {
  .container__cards .card {
    width: 200px;
  }
}

.container__cards .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__cards .card__header img {
  border-radius: 70px;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container__cards .card__header img {
    border-radius: 70px;
    width: 100px;
    height: 100px;
  }
}

.container__cards .card__header .profile {
  font-size: 0.9372rem;
  margin: 15px 15px 0 15px;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container__cards .card__header .profile {
    font-size: 1.2rem;
    margin: 25px 25px 0 25px;
  }
}

@media screen and (max-width: 768px) {
  .container__cards .card__header .profile {
    min-width: 500px;
  }
}

.container__cards .card__header .profile p:first-of-type {
  font-weight: 700;
}

.container__cards .card__header .profile p:last-of-type {
  color: #ee68a4;
  margin-top: -10px;
}

.container__cards .card .testimonial {
  line-height: 1.7rem;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container__cards .card .testimonial {
    line-height: 2rem;
  }
}

.hero2 .rating:first-of-type {
  -webkit-animation: rating1 1s linear forwards;
          animation: rating1 1s linear forwards;
}

@media screen and (max-width: 768px) {
  .hero2 .rating:first-of-type {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes rating1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes rating1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.hero2 .rating:nth-of-type(2) {
  -webkit-animation: rating2 1s linear forwards;
          animation: rating2 1s linear forwards;
}

@media screen and (max-width: 768px) {
  .hero2 .rating:nth-of-type(2) {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes rating2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
}

@keyframes rating2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
}

.hero2 .rating:last-of-type {
  -webkit-animation: rating3 1s linear forwards;
          animation: rating3 1s linear forwards;
}

@media screen and (max-width: 768px) {
  .hero2 .rating:last-of-type {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes rating3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

@keyframes rating3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

.container__cards .card:first-of-type {
  -webkit-animation: card1 1s 1s linear forwards;
          animation: card1 1s 1s linear forwards;
}

@media screen and (max-width: 768px) {
  .container__cards .card:first-of-type {
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes card1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes card1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.container__cards .card:nth-of-type(2) {
  margin-left: 30px;
  -webkit-animation: card2 1s 2s linear forwards;
          animation: card2 1s 2s linear forwards;
}

@media screen and (max-width: 768px) {
  .container__cards .card:nth-of-type(2) {
    margin: 20px auto 0 auto;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes card2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes card2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.container__cards .card:last-of-type {
  margin-left: 30px;
  -webkit-animation: card3 1s 3s linear forwards;
          animation: card3 1s 3s linear forwards;
}

@media screen and (max-width: 768px) {
  .container__cards .card:last-of-type {
    margin: 20px auto 0 auto;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes card3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes card3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
/*# sourceMappingURL=style.css.map */